nav {
    background-color: rgba(40, 44, 42, 0.05);
}

.tabs-style-bar nav ul li a {
    position: relative;
    color: #74777b;
    background-color: #f7f7f7;
    margin: 0 2px;
}

.tabs-style-bar nav ul {
    border: 4px solid transparent;
}

.icon::before {
    font-family: 'stroke7pixeden';
    font-size: 1.3em;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    margin: 0 0.4em 0 0;
    text-transform: none;
    font-variant: normal;
    z-index: 10;
}

.icon-home::before { content: '\e648'; }
.icon-box::before { content: '\e674'; }
.icon-display::before { content: '\e65e'; }
.icon-upload::before { content: '\e68a'; }
.icon-tools::before { content: '\e60a'; }

.tabs-style-bar nav ul li a span {
    text-transform: uppercase;
    font-size: 0.6em;
    font-weight: 500;
    letter-spacing: 1px;
}